@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600,700');

body{padding-top:50px;}
.navbar{background-color: #00535f;box-shadow: 0px 5px 15px black;border:none;}
.navbar-header{background-color: #ccc;}
.navbar-toggle{border:1px solid black !important;}

.logo{padding:0px 10px;}
.brand{color:black !important;font:600 20px "raleway";text-decoration:none !important;
			display: inline-block; text-align:center;padding:0px 10px;}

.menubutt{background-color: #00535f; font:18px raleway;}
.menubutt a{color:white !important;}
.menubutt a:hover{background-color: #ddd !important;color:black !important;}
.active a{background-color: #003f44 !important;}

.dnbutt {background-color: #00535f;}
.dnbutt a:hover{background-color: #ddd !important;color:black !important;}
@media screen and (max-width:768px) {.dnbutt {background-color: #00535f;} 
				.open a{color:white !important;} }

.item img {height:100%;width:auto;display:block; margin:auto;}
.carousel{background-color: #bbb !important;max-height:350px;overflow: hidden;}

.fdiv{background-color: #193340;color:white;text-align: center;}
.hd1{font:700 65px raleway;padding:0px 10%;}
.hd4{font:700 20px raleway;}
.para{font:400 18px raleway;padding:0px 10%;}
.conti{position: relative;}
@media screen and (min-height:450px) and (min-width:1000px) 
{.conti{top: 50%;left: 50%;transform: translate(-50%, -50%);}}

.sdiv{color:white;padding:0px 5%;}
.conti2{background-color: rgba(5, 20, 65, 0.7);padding:1vh 0%;}

.tdiv{color:white;text-align: center;background-color: rgba(0,0,0,0.5);}
.prodimg{max-width:300px;height:auto;overflow: hidden;display:block; margin: auto;}
.prodthumb{display: block;margin: auto;overflow: hidden;}

.butt{color:white;font-weight:600; font-family:raleway;text-decoration: none !important;
	background-color:#003f44;border:1px solid white;transition: background-color 1.5s;}
.buttft{padding:2vw 0vw;min-width:200px;width:40vw;}

.butt:hover{background-color:white;border:1px solid #003f44;color:#003f44;}

.fodiv{background-color: slategrey;text-align:center;}

.fifdiv .hd1{text-align: center;text-shadow:0px 0px 10px white;}
.map{padding:25px;border:5px solid black;height:400px;}

.sixdiv{background-color: lightblue;text-align:center;}
.sixdiv .hd1{font-size:25px;}
.sixdiv .hd4{font:600 15px raleway;}

.footer{text-align: center;border-top:5px solid #003f44;}
.footer a{display:inline-block;}

/*PAGE ABOUT US CSS STARTS HERE*/
.empcap {background-color:rgba(255, 255, 255, 0.6);border:1px solid black; border-radius:250px;
	color:black;padding:20px;margin-bottom:15px;}
@media screen and (max-width:760px){.empcap{text-align: center;}
									.thumbimg{display:block; margin:auto;}
									.para2{padding-bottom:50px;}
									.empht{min-height: 700px;}}

.thumbimg {border-radius:50%;vertical-align: middle !important;}
.hd4abtus{color:#373D45;}
.ot{text-align:center; padding:10px;}
.hd12{font:700 30px raleway;padding:0px;}
.para2{font:400 18px raleway;padding:0px;}
/*PAGE ABOUT US CSS ENDS HERE*/

/*PAGE AUTHORS CSS STARTS HERE*/

.fauthdiv{background-color: #353E43;color:white;text-align: center;}
.hd4auth{font-color:white;}
.authinp{background-color: inherit;border:3px solid white;width:60%;padding:2px 5px;}
.authinp::placeholder {color: #999999;}
.formbutt {position:relative;width:30%;padding:15px 0px;top:-50px;background-color: #353E43;font-size:0.75em;}
@media screen and (max-width:768px)
{.authinp{width:80%;} .formbutt{width:40%;}}

.authdiv{background-color: #5B6473;color:white;text-align: center;}
.profimg{width:300px;border-radius: 250px;display:block;margin:auto;}
.parabold{padding:0px;font-weight:bold;}
.paranp{padding:0px;}
.mbotz{margin-bottom:0px;}
@media screen and (min-width:768px)
{.padbotinc{min-height: 500px;}}

/*PAGE AUTHORS CSS ENDS HERE*/

/*PAGE OUR PRODUCTS CSS STARTS HERE*/

.gtpbtn{display:block;margin-bottom:25px;}
.buttsm{padding:1vw 0vw;min-width:200px;width:40vw;}

/*PAGE OUR PRODUCTS CSS ENDS HERE*/

/*PAGE BSCIT CSS STARTS HERE*/

.fbscdiv{background-color: #636363;color:white;text-align: center;}
.bscthumb{background-color: #3c3c3c;}
.bookimg{height:300px;display:block;margin:auto;}
.gtpbtn2{display:block;margin-bottom:10px;}
.buttpr{padding:15px;min-width:200px;width:15vw;}
.padbotincbook{padding:50px 10px;margin-bottom: 10%;}
@media screen and (min-width:768px)
{.padbotincbook{min-height: 600px;}}

/*PAGE BSCIT CSS ENDS HERE*/

/*PAGE BMS CSS STARTS HERE*/

.fbmsdiv{background-color: #b5c1ff;color:white;text-align: center;}
.hdbms {color:#193340;}
.bmsthumb{background-color:#373d45;}

/*PAGE BMS CSS ENDS HERE*/

/*PAGE BCOM CSS STARTS HERE*/
.fbcomdiv{background-color: #ffbb6b;color:white;text-align: center;}
/*PAGE BCOM CSS ENDS HERE*/

@media screen and (max-width:501px)							 
{.hd1{font-size:35px;} .hd4{font-size:20px;} .para{font-size:14px;}}
@media screen and (min-width:501px) and (max-width:1599px) 
{.hd1{font-size:65px;} .hd4{font-size:20px;} .para{font-size:18px;}}
@media screen and (min-width:1600px) and (max-width:2559px) 
{.hd1{font-size:80px;} .hd4{font-size:35px;} .para{font-size:25px;}}
@media screen and (min-width:2559px) 						 
{.hd1{font-size:95px;} .hd4{font-size:45px;} .para{font-size:35px;}}

@media screen and (min-width:1000px) and (min-height:450px)
{.fdiv, .sdiv, .fifdiv{height:100vh;}}