

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{ background-color:#ddd; padding:20px; }
.navbar-brand{color:red !important;font-family: "times new roman"}
.noastyle{text-decoration: none !important;color:black !important;}

.topcard{background-color: white;margin-top:50px;box-shadow:0px 0px 10px;}
.nopad{padding:0px !important;}
.topcardimg{width:800px;}
.halfimg{background-color: black;}
.topcard:hover .topcardimg{opacity:0.7;transition:0.5s;}

.storyhd{font-family: "times new roman";}
.storycont{  display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;
	overflow : hidden;  text-overflow: ellipsis;}

	@media screen and (min-width:768px)
	{.storycont{-webkit-line-clamp: 9;}}

.thumbs{margin-top:25px;}
.thumb{margin:10px 0px;}
.thumbdiv{background-color: white;box-shadow:0px 0px 10px;overflow:hidden;text-overflow: ellipsis;}

.imgdiv{background-color: black;}
.thumbdiv:hover .thumbimg{opacity:0.7;transition:0.5s;}
.thumbimg{width:800px;}

.textdiv{padding:10px;}
.texthd{text-align:center;}
.textstory{}
@media screen and (min-width:768px) and (max-width:1999px){.thumbdiv{height:500px;}}
@media screen and (min-width:2000px){.thumbdiv{height:700px;}}

.restopdiv{margin-top:100px;background-color:white;box-shadow:0px 0px 10px;padding:20px;}
.reshead{font-family:"times new roman"}
.date, .tag{display:inline-block;}
.tag{background-color: red;color:white;}
.buttdiv, .butt{display:inline-block;}
.buttdiv{float:right;}
.butt{width:60px; height:30px; margin:1px 3px;color:white;border:none;}
@media screen and (max-width:650px) {.buttdiv{display:block;float:none;text-align:center;}}

.linkbar{background-color: #ad2929;color: #aaa; text-align: center;margin:10px 0px;}
.linkbar a{text-decoration:none !important;color: #aaa;}
.linkbar .activeb{color: white !important;background-color: #821818;}
.linkbarbutt{border:none;background-color: inherit;height:50px;box-shadow: none!important;}
.linkbarbutt:focus{box-shadow: none!important;}

.buttinfo{display:none;}
.infodisyes{display:block !important;}

.sidediv{padding:15px;}
.sidediv a{text-decoration:none !important;color: #000 !important;}

@media screen and (max-width:992px)
{.sidediv{display:none;}}









